/* universal styles */
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}
/* nav styles */

 /* banner styles */

 /* logo styles */

 /* product styles */

 /* feature styles */

 /* footer styles */